.sm2-bar-ui.full-width.fixed.playlist-open
  .bd.sm2-main-controls
    .sm2-inline-texture
    .sm2-inline-gradient
    .sm2-inline-element.sm2-button-element
      .sm2-button-bd
        %a.sm2-inline-button.play-pause{:href => "#play"} Play / pause
    .sm2-inline-element.sm2-inline-status
      .sm2-playlist
        .sm2-playlist-target
          / playlist <ul> + <li> markup will be injected here
          / if you want default / non-JS content, you can put that here.
          %noscript
            %p JavaScript is required.
      .sm2-progress
        .sm2-row
          .sm2-inline-time 0:00
          .sm2-progress-bd
            .sm2-progress-track
              .sm2-progress-bar
              .sm2-progress-ball
                .icon-overlay
          .sm2-inline-duration 0:00
    .sm2-inline-element.sm2-button-element.sm2-volume
      .sm2-button-bd
        %span.sm2-inline-button.sm2-volume-control.volume-shade
        %a.sm2-inline-button.sm2-volume-control{:href => "#volume"} volume
    .sm2-inline-element.sm2-button-element
      .sm2-button-bd
        %a.sm2-inline-button.previous{:href => "#prev", :title => "Previous"} &lt; previous
    .sm2-inline-element.sm2-button-element
      .sm2-button-bd
        %a.sm2-inline-button.next{:href => "#next", :title => "Next"} &gt; next
    .sm2-inline-element.sm2-button-element
      .sm2-button-bd
        %a.sm2-inline-button.repeat{:href => "#repeat", :title => "Repeat playlist"} âˆ repeat
    / not implemented
    /
      <div class="sm2-inline-element sm2-button-element disabled">
      <div class="sm2-button-bd">
      <a href="#shuffle" title="Shuffle" class="sm2-inline-button shuffle">shuffle</a>
      </div>
      </div>
    .sm2-inline-element.sm2-button-element.sm2-menu
      .sm2-button-bd
        %a.sm2-inline-button.menu{:href => "#menu"} menu
  .bd.sm2-playlist-drawer.sm2-element
    .sm2-inline-texture
      .sm2-box-shadow
    / playlist content is mirrored here
    .sm2-playlist-wrapper
      %ul.sm2-playlist-bd
        / item with "download" link
        - @files.each_with_index do |audio, index|
          %li
            .sm2-row
              .sm2-col.sm2-wide
                %a{:href => audio[:url]}
                  %b
                    = audio[:name]
                  %span.label
