<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_mimi_example_path(@mimi_example) %> |
<%= link_to 'Back', mimi_examples_path %>
<%= link_to 'Destroy', @mimi_example, method: :delete, data: { confirm: 'Are you sure?' } %>
