<div class="home-panel">
  <div class="panel-heading text-right">

  </div>
  <div class="panel-body container-fluid">
    <div class="row row-lg">
      <div class="col-xs-12">
        <div class="image-wrap">
          <div class="row">
            <div class="col-xs-12">
              <div class="js-radical-wrap">


              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='clear'></div>
</div>