.panel
  .panel-body
    .row
      .form-group.col-sm-12
        %h4.page-title
        %input.form-control.input-lg.js-ip-type{:placeholder => "", :style => "text-align: center", :type => "text"}/
      .col-sm-12.class-iii
        .js-append-type
