/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 * require_tree .
 *= require bootstrap.min
 *= require bootstrap-extend.min
 *= require animate.min
 *= require web-icon.min
 *= require bootstrap-select.min
 *= require sweet-alert.min
 *= require progressjs.min
 *= require jquery-editable
 *= require login
 *= require page
 *= require_self
 */
.js-input{
  height: 200px;
  font-size: 90px;
}
.js-mean{
  font-size: 40px;
  color: black;
}
.js-kanji{
  font-size: 40px;
}
