.js-input{
  height: 200px;
  font-size: 90px;
}
.js-mean{
  font-size: 40px;
  color: black;
}
.js-name, .js-hint{
  border-bottom: none;
}
.js-kanji{
  font-size: 40px;
}
.table-example{
  color: black;
  tr{
    border-bottom: 1px solid #888;
  }
}
.write-board{
  width: 100%;
  height: 480px;
}
.p-bold{
  font-weight: bold;
  color: black;
}
.p-romanji{
  font-size: 20px;
  text-transform: uppercase;
}
.image-kanji{
  margin-bottom: 15px;
}
.easer-btn{
  margin-left: 80px;
}