.body{
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}
.image-wrap{
  padding-top: 50px;
  text-align: center;
}
.text-right{
  text-align: right;
}
.margin-10px{
  margin: 10px;
}
.text-center{
  text-align: center;
}
.margin-top-60px{
  margin-top: 60px;
}
.height-60px{
  height: 60px;
}
.margin-li-group{
  & > li{
    margin-bottom: 10px;
    text-align: left;
    word-break: break-all;
    &.wrong{
      border-color: #F96868 !important;
      background-color: #F96868 !important;
      color: white !important;
      .font-bold-black{
        color: white;
      }
    }
    &.true{
      border-color: #3583CA !important;
      background-color: #3583CA !important;
      color: white !important;
      .font-bold-black{
        color: white;
      }
    }
  }
}

.progress-css{

}
.progress-group{
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0 20px;
  .progress{
    margin-bottom: 10px !important;
  }
}
.home-panel{

}
.content{
  height:100vh;
}
.quest-panel{
  margin-top: 15px;
  .panel-title{
    padding-top: 5px;
    padding-bottom: 10px;
    width: 280px;
  }
  .panel-body{
    padding-top: 0px;
    padding-bottom: 15px;
  }
}
.quest-timer{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: absolute;
  text-align: center;
  padding-top: 9px;
  font-size: 20px;
  right: 0;
  color: white;
  font-weight: bold;
  background-color: #fa7a7a;
}
.btn-group-quests{
  button{
    padding: 0px;
    font-size: 12px;
    width: 25px;
    margin: 1px!important;
    border-radius: 50% !important;
    height: 25px;
    float: none !important;
    color: #263238;
    &.q-true{
      background-color: #3583CA;
      color: white;
    }
    &.q-false{
      background-color: #F96868;
      color: white;
    }
    &.q-current{
      border-color: #465BD4 !important;
    }
  }
}

.q-point{
  font-size: 30px;
  padding-top: 10px;
  padding-right: 5px;
  font-weight: bold;
  position: absolute;
  width: 70px;
  height: 70px;
  left: 40%;
  top: 25%;
  text-align: center;
  display: none;
  border-radius: 50%;
  //border: 2px solid transparent;
  background-color: transparent;
  z-index: 10;
  color: white;
  &.false{
    display: block;
    background-color: #F96868;
  }
  &.true{
    background-color: #3583CA;
    display: block;
  }
}
.font-bold-black{
  color: #263238;
  font-weight: bold;
}
.word-show-photo{
  width: 200px;
  height: 200px;
}
.even-p{
  font-size: 20px;
  font-weight: bold;
  color: white;
}
.odd-p{
  font-size: 20px;
  color: #F7DA64;
  font-weight: bold;
}
.wrap-p{
  background-color: black;
  padding: 20px;
  word-spacing: 1.8px;
}