<!DOCTYPE html>
<html>
<head>
  <title>Q-Vocab</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'simple' %>
  <%= csrf_meta_tags %>
  <link rel="icon" href="/assets/target.ico">
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic'>
</head>
<body>

<%= yield %>

</body>
</html>
